{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PAAS Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- responsive top navbar-->
    <div class="topnav" id="myTopnav">
        <a href="{% url 'home' %}">PAAS</a>
        <a href="{% url 'glifi' %}">Glifi</a>
        <a href="{% url 'progetto' %}">Progetto</a>
        <a href="{% url 'community' %}">Community</a>
        <a href="{% url 'collabora' %}">Collabora</a>
        <a href="{% url 'licenza' %}">Licenza</a>

    </div>

    <div class="content">
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <div class="footer">

    </div>
</body>

</html>