{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style>
  body {
    background-color: #EEEEEE;
  }
</style>

<div class="row">
  <div class="col-lg-4">
    <form id="glyph-filter-form" method="get" action="#">
      {% csrf_token %}
      <div class="row">
        <label for="{{ FORM.search.id_for_label }}">
          <h4>Ricerca per parola</h4>
        </label>
      </div>
      <div class="row">
        {{ FORM.search }}
      </div>

      <!-- Render the semantic categories field -->
      <div class="row">
        <h4>{{ FORM.categorieSemantiche.label }}</h4>
      </div>
      <div class="row">
        <div class="col">
          {% for choice in FORM.categorieSemantiche %}
          <div class="round-gray-button">
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}">
              <h6>{{ choice.choice_label }}</h6>
            </label>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Render the grammatical functions field -->
      <div class="row">
        <h4>{{ FORM.funzioniGrammaticali.label }}</h4>
      </div>
      <div class="row">
        <div class="col">
          {% for choice in FORM.funzioniGrammaticali %}
          <div class="round-gray-button">
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}">
              <h6>{{ choice.choice_label }}</h6>
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>

    <form id="glyph-downloadall-form" action="{% url 'download_all_images' %}">
      <input class='dowload-button' type="submit" value='{% trans "Scarica tutti i glifi" %}' />
    </form>
  </div> <!-- "col-lg-4" -->

  <div class="col">
    <!-- Glyphs section -->
    <div class="row">
      <div class="col">
        <div class="row" id="glyphs-container">
          {% include 'glyphs_list.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div> <!-- "col" -->
</div> <!-- row -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>

<script>
  $(document).ready(function() {
    const form = $('#glyph-filter-form');

    function updateGlyphs() {
        $.ajax({
            url: '',  // Current page URL
            type: 'GET',
            data: form.serialize(),  // Serialize all inputs
            success: function(response) {
                $('#glyphs-container').html(response);
            },
            error: function(xhr) {
                console.error('AJAX request failed:', xhr);
            }
        });
    }

    // Trigger AJAX on search input and checkbox changes
    form.on('change keyup', "input, select", updateGlyphs);

    // Optional: initial load
    updateGlyphs();
});
</script>
{% endblock %}