          {% load i18n %}

          {% for glyph in GLYPHS %}
          <div class="col-lg-4 col-6">
            <div class="card">
              <input id="{{ glyph.id }}" type="checkbox" name="selected_images" value="{{ glyph.id }}"
                style="display: none;" />
              <a href="{{ glyph.glyphFile.url }}" download="{{ glyph.parola }}">
                <img class="card-img-top" src="{{ glyph.glyphFile.url }}" alt="{{ glyph.parola }}" />
              </a>
            </div>
            {% get_current_language as LANGUAGE_CODE%}
            {% if LANGUAGE_CODE == "it" %}
            <h4 class="glyph-label">{{ glyph.parola }}</h4>
            {% elif LANGUAGE_CODE == "en" %}
            <h4 class="glyph-label">{{ glyph.parola_ENG }}</h4>
            {% endif %}
          </div>
          {% endfor %}
