{% extends "base.html" %}

{% block content %}
{% load custom_tags %}


<div>

</div>

<div>
    <h2>PASS è il nuovo sistema di glifi per la CAA</h2>
    <p>Il progetto PASS si propone di creare un sistema di segni adatto ad un uso clinico e tra partner comunicativi, tra cui operatori e genitori. Caratteristica fondante del sistema è la natura prevalentemente pittografica e combinatoria dei segni, la sistematica coerenza visiva interna e un sistema di regole di composizione non lineari. Queste caratteristiche lo rendono al contempo prevedibile e flessibile nell'uso quotidiano. </p>
</div>
{% CTA_rapida_licenza %}


{% CTA_completa_community %}

{% endblock content %}