@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.cyan {
    background-color: #7AF6F1;
}

.light-cyan {
    background-color: #F1FEFD;
}

.grey {
    background-color: #EEEEEE;
}
.white {
    background-color: #ffffff;
}

a.round-black-button {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    /* Set the background color */
    color: #fff;
    /* Set the text color */
    border-radius: 50px;
    /* Set the border-radius for rounded corners */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

a.round-black-button:hover {
    box-shadow: 0px 0px 5px 1px grey;

}

.round-gray-button {
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    /* Set the background color */
    color: #000000;
    /* Set the text color */
    border-radius: 50px;
    /* Set the border-radius for rounded corners */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

input.checkbox-to-hide {
    display: none;
}

.round-gray-button.active {
    background-color: #7AF6F1;
    color: #000000
        /* Set the background color when checkbox is checked */
}

#myTopnav {
    background-color: #fff;
}

.form-section-label {
    float: none;
}

.glyph-card {
    background-color: #fff;

}

.dowload-button {
    font-size: 14px;
    border: none;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    background-color: #7AF6F1;
    /* Set the background color */
    color: #000000;
    /* Set the text color */
    border-radius: 50px;
    /* Set the border-radius for rounded corners */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
}

.nav-link {
    color: #000000;
}

.active {
    text-decoration: underline;
    color: #000000;
}

h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
}

h4.glyph-label {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

/* HOME PAGE */
#PASS-descrizione {
    display: flex;
    padding: 120px 160px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#Picture-Augmentative-Synsemic-System {
    padding: 120px 160px 60px 160px;
    gap: 10px;
}

#Obiettivi-del-progetto{
    padding: 60px 160px 120px 160px;
    gap: 10px;

}

.cta-card {
    display: flex;
    padding: 80px 258px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}